In [106]:
import pandas as pd
import matplotlib.pyplot as plt

def plot_selected(df, columns, start_index, end_index):
    plot_data(df.loc[start_index:end_index,  columns], title='Prices Normalized')
    
def normalize_data(df, start_index):
    return df/df.iloc[start_index,:]

def plot_data(df, title='Crypto Prices'):
    ax = df.plot(title=title, fontsize=2)
    ax.set_xlabel('Date')
    ax.set_ylabel('Price')
    plt.show()
    
       
btc_df = pd.read_csv('btc.v.txt', index_col='<DATE>', parse_dates=True, infer_datetime_format=True)
eth_df = pd.read_csv('eth.v.txt', index_col='<DATE>', parse_dates=True, infer_datetime_format=True)
matic_df = pd.read_csv('matic.v.txt', index_col='<DATE>', parse_dates=True, infer_datetime_format=True)
xtz_df = pd.read_csv('xtz.v.txt', index_col='<DATE>', parse_dates=True, infer_datetime_format=True)

# align to BTC index
eth_df = eth_df.reindex_like(btc_df, method='nearest')
matic_df = matic_df.reindex_like(btc_df, method='nearest')
xtz_df = xtz_df.reindex_like(btc_df, method='nearest')

'''
# fill in missing values
eth_df.fillna(method='ffill', inplace=True)
eth_df.fillna(method='bfill', inplace=True)

matic_df.fillna(method='ffill', inplace=True)
matic_df.fillna(method='bfill', inplace=True)

xtz_df.fillna(method='ffill', inplace=True)
xtz_df.fillna(method='bfill', inplace=True)
'''

# combine price series into one dataframe
crypto_df = btc_df[['<CLOSE>']]
crypto_df = crypto_df.rename(columns={'<CLOSE>':'BTC'})
crypto_df.reindex_like(btc_df)

crypto_df['ETH'] = eth_df['<CLOSE>']
crypto_df['MATIC'] = matic_df['<CLOSE>']
crypto_df['XTZ'] = xtz_df['<CLOSE>']

crypto_df.to_csv('crypto_data20210606.csv')

# normalize price series for comparison
crypto_norm_df = normalize_data(crypto_df, 0)
    
plot_data(crypto_norm_df)

In [74]:
crypto_df.head()

                BTC  ETH     MATIC  XTZ
<DATE>
2010-07-17  0.04951  3.0  0.004441  2.0
2010-07-18  0.08584  3.0  0.004441  2.0
2010-07-19  0.08080  3.0  0.004441  2.0
2010-07-20  0.07474  3.0  0.004441  2.0
2010-07-21  0.07921  3.0  0.004441  2.0

In [75]:
crypto_df.tail()

                 BTC      ETH  MATIC    XTZ
<DATE>
2021-06-01  36389.27  2594.63  1.811  3.641
2021-06-02  37809.74  2721.36  1.813  3.844
2021-06-03  38779.50  2819.25  1.802  3.838
2021-06-04  37220.06  2732.50  1.675  3.617
2021-06-05  34946.84  2560.40  1.474  3.301

In [76]:
crypto_norm_df = normalize_data(crypto_df, 1000)
plot_data(crypto_norm_df)

In [77]:
crypto_norm_df.tail()

                   BTC         ETH       MATIC     XTZ
<DATE>
2021-06-01  311.019402  864.876667  407.791038  1.8205
2021-06-02  323.160171  907.120000  408.241387  1.9220
2021-06-03  331.448718  939.750000  405.764467  1.9190
2021-06-04  318.120171  910.833333  377.167305  1.8085
2021-06-05  298.690940  853.466667  331.907228  1.6505

In [78]:
plot_data(crypto_norm_df)

In [113]:
crypto_norm_df = normalize_data(crypto_df, 3917)
crypto_norm_df.iloc[3917:].plot()

In [99]:
crypto_norm_df.tail()

                 BTC       ETH     MATIC       XTZ
<DATE>
2021-06-01  0.647660  1.299680  5.309293  0.647289
2021-06-02  0.672942  1.363161  5.315157  0.683378
2021-06-03  0.690202  1.412195  5.282908  0.682311
2021-06-04  0.662447  1.368741  4.910583  0.643022
2021-06-05  0.621988  1.282534  4.321313  0.586844

In [100]:
crypto_df.iloc[3917]

BTC      56185.7200
ETH       1996.3600
MATIC        0.3411
XTZ          5.6250
Name: 2021-04-07 00:00:00, dtype: float64

In [93]:
crypto_df.iloc[3000]

BTC      6446.350000
ETH       217.350000
MATIC       0.004441
XTZ         1.320000
Name: 2018-10-03 00:00:00, dtype: float64

In [112]:
crypto_norm_df = normalize_data(crypto_df, 3947)
crypto_norm_df.iloc[3947:].plot()

In [114]:
crypto_norm_df = normalize_data(crypto_df, 3612)
crypto_norm_df.iloc[3612:].plot()